<div class="flex flex-col items-center w-full">
    <h1 class="text-2xl text-center"> Sign up as an Owner to start listing houses </h1> 
    <p class="text-lg"> List unlimited houses and start making passive income from your properties </p> 
    <%= image_tag "sign_up_image.jpg", class: "h-96 object-cover mt-8 rounded-lg" %>
</div>